<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/media/css/style.css">
    <title>{% block head_title %}{% endblock %}Small URL service</title>
    {% block head_extra %}{% endblock %}
</head>
<body>
    <div class="container">
        <header class="header clearfix">
            <div class="logo">Тестове завдання #2</div>
            <nav class="menu_main">
                <ul>
                    <li class="{% block nav_homepage %}{% endblock %}"><a href="{% url "homepage" %}">Головна</a></li>
                    {% if user.is_authenticated %}
                        <li class="{% block nav_links %}{% endblock %}"><a href="{% url "account_my_links" %}" rel="nofollow">Мої лінки</a></li>
                        <li class="{% block nav_exit %}{% endblock %}"><a href="{% url "account_logout" %}?next={{ request.path }}" rel="nofollow">Вихід ({{ user }})</a></li>
                    {% else %}
                        <li class="{% block nav_signup %}{% endblock %}"><a href="{% url "account_signup" %}" rel="nofollow">Реєстрація</a></li>
                        <li class="{% block nav_login %}{% endblock %}"><a href="{% url "account_login" %}" rel="nofollow">Вхід</a></li>
                    {% endif %}
                    <li><a href="/admin/">Адмін</a></li>
                </ul>
            </nav>
        </header>

        <div class="info">
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        {% if message.tags %}({{ message.tags }}){% endif %} {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <article class="hero clearfix">
                {% block page_content %}{% endblock %}
            </article>
        </div>

        <footer class="footer clearfix">
            <div class="copyright">Тестове завдання #2</div>
            <nav class="menu_bottom">
                <ul>
                    <li><a href="/admin/">Адмін</a></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>