/* Skin "Stylus" by Renat Rafikov */
html {
  background:#999;
}

body {
  font-family:arial, sans-serif;
  color:#333;
  
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 250px, rgba(255,255,255,0) 600px);
  background: -webkit-gradient(linear, left top, left 600px, color-stop(0%,rgba(255,255,255,0)), color-stop(250px,rgba(255,255,255,0.7)), color-stop(600px,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 250px,rgba(255,255,255,0) 600px);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 250px,rgba(255,255,255,0) 600px);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 250px,rgba(255,255,255,0) 600px);
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 250px,rgba(255,255,255,0) 600px);
}

a { color:#336699; }
a:hover { color:#ea0000; }
a:visited { color:#551a8b; }

ul li, ol li {
  padding:0 0 0.4em 0;
}


.container {
  max-width:1300px;
  margin:0 auto;
}

.header {
  margin:0 0 1em 0;
  padding:1em 0 0 0;
}

.logo {
  padding:0 0 0.4em 0;
  font-size:24px;
  color:#333;
  font-weight:bold;
}

.menu_main {
  margin:0.3em 0 0 0;
  background-color:#dcdcdc;
  height:35px;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  -webkit-box-shadow:0 9px 5px -7px #777;
  -moz-box-shadow:0 9px 5px -7px #777;
  box-shadow:0 9px 5px -7px #777;
}
.menu_main a,
.menu_main a:visited {
  color:#333;
  text-decoration:none;
  display:inline-block;
  height:35px;
  line-height:35px;
  padding:0 44px 0 24px;
  font-weight:bold;
  border-right:1px solid #fff;
}
.menu_main a:hover,
.menu_main a:hover:visited {
  background:#666;
  color:#fff;
  text-decoration:underline;
}
.menu_main li {
  display:inline-block;
  float:left;
  padding:0;
}

.menu_main li.active a,
.menu_main li.active a:hover {
  color:#000;
  text-decoration:none;
  cursor:default;
  background:#d1d1d1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
}


.info {
}

.hero {
  color:#111;
  padding:0 0 10px 2%;
}
.hero h1 {
  font-size:26px;
  color:#111;
}

.article {
  background:#f5f5f5;
  padding:0 2% 2em 2%;
  -webkit-box-shadow:#777 0 9px 5px -7px;
  -moz-box-shadow:#777 0 9px 5px -7px;
  box-shadow:#777 0 9px 5px -7px;
}

.footer {
  padding:4em 2% 1em 2%;
  color:#333;
}

.copyright {
  width:49%;
  float:left;
}

.menu_bottom {
  width:50%;
  float:right;
  text-align:right;
  margin:0;
  padding:0;
}
.menu_bottom a,
.menu_bottom a:visited {
  color:#333;
}
.menu_bottom a:hover,
.menu_bottom a:hover:visited {
  color:#000;
}
.menu_bottom li {
  display:inline-block;
  margin:0 0 0 7px;
}
.menu_bottom li.active,
.menu_bottom li.active a {
  color:#333;
  text-decoration:none;
  cursor:default;
}

h1, h2 {
  font-weight:normal;
  color:#000;
}
h1 {
  font-size:22px;
}
h3, h4, h5, h6 {
  font-weight:bold;
  color:#000;
}

.form label {
  display:inline-block;
  padding:0 0 4px 0;
}

a.button,
.button {
  text-align:center; 
  text-decoration:none;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow:rgba(0,0,0,0.9) 0 4px 3px -4px;
  -moz-box-shadow:rgba(0,0,0,0.9) 0 4px 3px -4px;
  box-shadow:rgba(0,0,0,0.9) 0 4px 3px -4px;
  background:#aec720;
  color:#fff;
  padding:7px 10px;
  font-family:verdana, sans-serif;
  display:inline-block;
  border:0;
}
a.button:hover,
.button:hover {
  color:#fff;
  background:#c1db2e;
}
a.button:active,
.button:active {
  background:#aec720;
  text-shadow:1px 1px 1px #8ca20f;
  -webkit-box-shadow:#8ca20f 0px -3px 3px inset;
  -moz-box-shadow:#8ca20f 0px -3px 3px inset;
  box-shadow:#8ca20f 0px -3px 3px inset;
}

.table {
  width:100%;
}
.table th {
  padding:5px 7px;
  font-weight:normal;
  text-align:left;
  font-size:1.2em;
}
.table td {
  padding:5px 7px;
}
.table tr {
  border-bottom:1px solid #888;
}
.table tr:last-child {
  border:0;
}
.errorlist,
.warning{
  color:#fff;
  padding:8px 14px;
  background-color:#af243b;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  -webkit-box-shadow:0 9px 5px -7px #999;
  -moz-box-shadow:0 9px 5px -7px #999;
  box-shadow:0 9px 5px -7px #999;
}
.success {
  color:#fff;
  background:#31b754;
  padding:8px 14px;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  -webkit-box-shadow:0 9px 5px -7px #999;
  -moz-box-shadow:0 9px 5px -7px #999;
  box-shadow:0 9px 5px -7px #999;
}
.message {
  color:#444;
  background:#f1b369;
  padding:8px 14px;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  -webkit-box-shadow:0 9px 5px -7px #999;
  -moz-box-shadow:0 9px 5px -7px #999;
  box-shadow:0 9px 5px -7px #999;
}


@media only screen and (max-width:480px) { /* Smartphone custom styles */
  .menu_main a {
    padding:7px 15px;
  }
  .menu_main li {
    float:none;
  }
}

@media only screen and (max-width:768px) { /* Tablet custom styles */
  .menu_main {
    height:auto;
    overflow:hidden;
  }
  .menu_main a {
    border:0;
  }
}