{% extends "base.html" %}

{% block head_title %}Вхід - {% endblock %}

{% block nav_login %}active{% endblock %}

{% block page_content %}
    <h1>Вхід</h1>

    <form method="POST" action="{% url "account_login" %}">
        {% csrf_token %}
        <table class="table">
            {{ form }}
        </table>
        <input type="submit" class="submit" value="Login &raquo;" />
    </form>
{% endblock %}