{% extends "base.html" %}

{% block head_title %}Реєстрація - {% endblock %}

{% block nav_signup %}active{% endblock %}

{% block page_content %}
    <h1>Реєстрація</h1>

    <form method="POST" action="{% url "account_signup" %}">
        {% csrf_token %}
        <table class="table">
            {{ form }}
        </table>
        <input type="submit" class="submit" value="Sign up &raquo;" />
    </form>
{% endblock %}