{% extends "base.html" %}

{% block nav_homepage %}active{% endblock %}

{% block page_content %}
    <h1>Сервіс коротких URL</h1>
    <p>Введіть URL*</p>
    <form method="POST" action="{% url "homepage" %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="submit" value="Зробити короткий URL" />
    </form>
    <p>* обов'язково з вказанням протоколу (http://, https://, etc.)</p>
    {% if short_url %}
        <br>
        <h2>Результат</h2>
        Ваш короткий URL: <input type="text" value="{{short_url.0.short_absolute_url}}" />
        <a href="{{short_url.0.short_absolute_url}}" target="_blank">open</a>
    {% endif %}
{% endblock %}