{% extends "base.html" %}

{% block head_title %}Мої лінки - {% endblock %}
{% block nav_links %}active{% endblock %}

{% block head_extra %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/media/js/csrf.js"></script>

    <script type="text/javascript">
        jQuery.expr[':'].regex = function(elem, index, match) {
            var matchParams = match[3].split(','),
                    validLabels = /^(data|css):/,
                    attr = {
                        method: matchParams[0].match(validLabels) ?
                                matchParams[0].split(':')[0] : 'attr',
                        property: matchParams.shift().replace(validLabels,'')
                    },
                    regexFlags = 'ig',
                    regex = new RegExp(matchParams.join('').replace(/^\s+|\s+$/g,''), regexFlags);
            return regex.test(jQuery(elem)[attr.method](attr.property));
        };

        $(document).ready(function(){
            $("a:regex(id,add_[0-9]+)").click(function() {
                var a = $(this);
                var tag_id = $(this).attr('id').replace('add_', '');

                $("#usertag_" + tag_id).slideToggle("slow", showstate);
                function showstate(){
                    if($(this).attr('style')==="display: none;") {
                        a.text("add ↓");
                    }
                    else {
                        a.text("no add ↑");
                    }
                }

                $("a#add_" + tag_id).parent().next().find("input:text").val("");
            });

{% comment %}            $("a:regex(id,del_[0-9]+_tag_[0-9]+)").click(function() {
                var a = $(this);
                var id = $(this).attr('id').split('_');
                $.post('/delete_tag/', {'link_id':id[1], 'tag_id':id[3]}, function(data) {
                    //$('#div_newsmenu1').html(data);
                    //$("a#del_" + id[1] + "_tag_" + id[3]).parent().prev().remove();
                });
                $("span#link_" + id[1] + "_tag_" + id[3]).remove();
            });{% endcomment %}
        });
    </script>
{% endblock %}

{% block page_content %}
    {% load taggit_extras_ext %}
    {% get_tagcloud_ext as tags %}

    <h1>Мої лінки</h1>

    <table class="table">
        <thead>
            <tr>
                <th>URL</th>
                <th>sURL</th>
                <th>Хітів</th>
                <th>Створено</th>
                <th>Останній перехід</th>
                <th>Теги</th>
            </tr>
        </thead>
        <tbody>
            {% for l in links %}
            <tr style="background-color: #dddddd;">
                <td>{{ l.url }}</td>
                <td><a href="{% url "redirect_short_url" l.url.short_url %}">{{ l.short_absolute_url }}</a></td>
                <td>{{ l.total_hits }}</td>
                <td>{{ l.created }}</td>
                <td>{{ l.last_redirect }}</td>
                <td>
                    {% for t in l.tags.all %}
                        <span id="link_{{ l.pk }}_tag_{{ t.pk }}"><a href="#" id="link_{{ l.pk }}_tag_{{ t.pk }}">#{{ t }}</a> {% comment %}<i>[<a href="#" id="del_{{ l.pk }}_tag_{{ t.pk }}">del</a>]</i>{% endcomment %}</span>
                    {% endfor %}
                    ||| [<b><a href="#" id="add_{{ l.pk }}">add ↓</a></b>]
                    <div style="display: none;" id="usertag_{{ l.pk }}">
                        <hr>
                        <form method="POST" action="{% url "account_my_links" %}">
                            {% csrf_token %}
                            <input type="hidden" name="user_tag_id" value="{{ l.pk }}" />
                            <input type="hidden" name="form-type" value="add-new" /> <!-- set type -->
                            <table>
                                {{ form }}
                            </table>
                            <input type="submit" class="submit" value="Додати" />
                        </form>
                        <hr>
                        <p>Існуючі теги</p>
                        <form method="POST" action="{% url "account_my_links" %}">
                            {% csrf_token %}
                            <input type="hidden" name="user_tag_id" value="{{ l.pk }}" />
                            <input type="hidden" name="form-type" value="save-exist" />
                            <table>
                                {% get_tagform l as tag_form %}
                                {{ tag_form }}
                            </table>
                            <input type="submit" class="submit" value="Зберегти" />
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="col_50">
        <h2>Мої теги</h2>
        <ul>
            {% for tag in tags %}
                <li>{{tag}} ({{tag.num_times}})</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col_50">
        <h2>Сайт теги</h2>
    </div>
    <div class="clearfix"></div>
{% endblock %}